<ul>
    @foreach (var product in _products)
    {
        <li>@product.Name - R$@product.Price</li>
    }
</ul>

@code {
    private List<Product> _products = new();

    [Parameter] //receber parametro customizado
    public int Skip { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);

        for (int i = 0; i < 25; i++)
        {
            _products.Add(new Product(i + 1, $"Produto {i}", $"Produto {i}", 1, i * 2.65M));
        }
    }
}
