@page "/products"
@* @page "/products/{skip:int}" *@


<PageTitle>Products</PageTitle>

<h1>Products</h1>

@*passando parametro customizado Skip para o componente*@
<ProductListComponent Skip="0"></ProductListComponent> 

@code {

}
