@page "/categories"
@inject ApplicationDbContext _context
@attribute [StreamRendering(true)]
@inject NavigationManager _navigationManager

<h1>Categories</h1>

<Button class="mb-5" Type="ButtonType.Link" Color="ButtonColor.Primary" To="/categories/create">New category</Button>

@if (!_categories.Any())
{
    <p class="text-center">
        <em>Loading categories...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <td>#</td>
                <td>Title</td>
                <td></td>
            </tr>
        </thead>
        <tbody>

            @foreach (var category in _categories)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Title</td>
                    <td>
                        <a href="/categories/edit/@category.Id"><Button Color="ButtonColor.Warning">Edit</Button></a> 
                        <a href="/categories/delete/@category.Id"><Button Color="ButtonColor.Danger">Delete</Button></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public IEnumerable<Category> _categories { get; set; } = Enumerable.Empty<Category>();

    protected override async Task OnInitializedAsync()
    {
        _categories = await _context.Categories.AsNoTracking().ToListAsync();
    }
}
